
*,::after,::before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
@font-face {
    font-family: "primary";
    src: url(./assets/fonts/Mainlux-Light.otf);
}
@font-face {
    font-family: "secondary";
    src: url(./assets/fonts/Sailec\ Light.ttf);
}
:root{
    --border-color-light:#adacac;
    --border-color-dark:#3F3F46;
    --font-family-primary:'primary', sans-serif;
    --font-family-secondary:'secondary', sans-serif;
    --color-primary:#00668F;
    --color-secondary:#0D2C54;
    --color-active:#e1eeff;
    --color-light:#F7F7F2;
    --color-hover:#e5e5e2;
    --color-dark:#3d3d3d;
    --color-gray:#4B5563;
    --hover-primary-color:#1050E5;
    --bg-color-footer:#052634;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.flex-col{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.flex-1{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.text-center{
    text-align: center;
}
.flex-nowrap{
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
}
.align-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.align-end{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.align-start{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.justify-end{
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end ;
}

.justify-center{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.justify-around{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.justify-between{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.flex-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
}
.grid-center{
    display: -ms-grid;
    display: grid;
    place-content: center;
}
/*  gaps */
.gap-sm{
    gap: 7px;
}
.gap-md {
    gap: 14px;
}
.gap-lg {
    gap: 20px;
}
/*  paddings and margins  */
.px-sm{
    padding-left:7px;
    padding-right: 7px;
}
.px-md{
    padding-right: 12px;
    padding-left: 12px;
}
.px-lg {
    padding-left: 20px;
    padding-right: 20px;
}
.master-padding{
    padding: 12px max(45px,7vw);
}
.py-sm{
    padding-top:7px;
    padding-bottom: 7px;
}
.py-md{
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-lg {
    padding-top: 20px;
    padding-bottom: 20px;
}
.m-left-auto{
    margin-left:  auto !important;
}
.m-top-auto{
    margin-top:  auto !important;
}


.mx-sm{
    margin-left:7px;
    margin-right: 7px;
}
.mx-md{
    margin-right: 12px;
    margin-left: 12px;
}
.mx-lg {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-auto{
   margin-left: auto;
   margin-right: auto;
}
.my-sm{
    margin-top:7px;
    margin-bottom: 7px;
}
.my-md{
    margin-top: 12px;
    margin-bottom: 12px;
}
.my-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*  font sizes */

.fs-title{
    font-size: max(4.2vw,40px);
}
.fs-xx-large{
    font-size: xx-large;
}
.fs-x-large{
    font-size: x-large;
}
.fs-larger{
    font-size: larger;
}
.fs-large{
    font-size: large ;
}
.fs-normal{
    font-size: 16px !important;
}
.fs-small{
    font-size: 15px !important;
}
.fw-bold {
    font-weight: bold;
}
.fw-light {
    font-weight: 300 !important;
}
.loose-text{
    letter-spacing: 2px;
}
.text-spaced{
    word-spacing: 3px;
}
.uppercase{
    text-transform: uppercase;
}
.w-100{
    width: 100%;
}
.w-800{
    width: min( 800px,100%);

}
.w-1000{
    width: min( 100%,1000px);
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}


.border-bottom{
    border-bottom: 1px solid var(--border-color-light);
}
.border-left{
    border-left: 1px solid var(--border-color-light);
}
.border-right{
    border-right: 1px solid var(--border-color-light);
}
.border-top{
    border-top: 1px solid var(--border-color-light);
}
.border{
    border: 1px solid ;
}
.border-none{
   border-color: transparent;
}
.border-bold{
    border-width:3px !important ;
}
.border-light {
    border-color: var(--border-color-light) !important;
}
.border-dark{
    border-color: var(--border-color-dark) !important;
}
.rounded-sm{
    border-radius: 4px;
}
.rounded-md {
    border-radius: 7px;
}
.rounded-lg {
    border-radius: 10px;
}
.rounded-0{
    border-radius: 0 !important;
}

.circle{
    border-radius: 50%;
}
.box{
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    
}
.box-lg{
    min-height:45px;
    min-width: 45px;
    max-height: 45px;
    max-width: 45px;
    
}
.box-sm{
    min-height:35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
}
.box-x-sm{
    min-height:30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    padding: 5px;
}
.icon-btn{
    min-height:40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;

}
/*  fonts  */
.font-secondary,.font-secondary span{
    font-family: var(--font-family-secondary);
}
.font-primary,.font-primary span{
    font-family: var(--font-family-primary);
}
/*  colors */
.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-dark{
    background-color: var(--color-dark);
}
.bg-light{
    background-color: var(--color-light);
}
.bg-gray{
    background-color: var(--color-gray);
}
.bg-footer{
    background-color: var(--bg-color-footer);
}
.text-primary{
    color: var(--color-primary);
}

.text-secondary{
    color: var(--color-secondary);
}
.text-dark{
    color: var(--color-dark);
}
.text-light{
    color: var(--color-light);
}
.text-gray{
    color: var(--color-gray);
}
.text-white{
    color: #fff;
}
/*  hover states */
.pointer{
    cursor: pointer;
}
.child-pointers *{
    cursor: pointer;
}
.bg-hover:hover{
    background-color: var(--color-hover);
}
.box-hover:hover{
    -webkit-box-shadow: 0px 0px 0px 3px var(--color-hover);
            box-shadow: 0px 0px 0px 3px var(--color-hover);
}
.border-hover:hover {
    border-color: var(--border-color-dark) !important;
}

.dark-hover:hover{
    -webkit-filter: brightness(0.9);
            filter: brightness(0.9);
}
.svg-hover:hover{
    -webkit-filter: invert(30%);
            filter: invert(30%);

}
.text-hover:hover {
    color: var(--color-secondary);
    cursor: pointer;

}
.outline-hover-primary:hover {
    outline:  2px solid var(--color-primary);
    outline-offset: 3px;
}
.outline-hover-light:hover {
    outline:  2px solid var(--color-light);
    outline-offset: 3px;
}

/*  tag styles */
img{
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.img-cover{
    -o-object-fit: cover !important;
       object-fit: cover !important;
}
button{
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    font-family: var(--font-family-secondary);
    letter-spacing: 1px;
    font-size: 16px;
    background-color:transparent;
    padding: 8px 12px;
    
}
input,textarea {

    padding: 8px 10px 8px 12px ;
    border: 1px solid var(--border-color-light);
    outline: none;
    font-family: var(--font-family-secondary);
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--color-dark);
    background-color: transparent;
    letter-spacing: 1.5px;
    word-spacing: 4px;

}
textarea{
    resize: none ;
}
a{
    text-decoration: none;
    color: inherit;
}
/*  positions */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.cover-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@media (max-width:550px){
    .master-padding{
        padding: 12px min(4vw,10px) !important;
    }
    .sm-padding{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .sm-hidden{
        display: none !important
    }
}
@media (max-width:800px){
    .md-hidden{
       display: none !important;
    }
    
}
@media (min-width:800px){
    .md-visible{
       display: none !important;
    }
    
}


.danger {
    border: 1px solid red;
}
.hidden{
    display: none;
}
.link{
    text-decoration: underline;
    text-underline-offset: 3px;

}
.link:hover {
    color: var(--color-primary);
    cursor: pointer;
}
